<script setup>
import { computed, ref } from "vue";

import image1 from "@/assets/image1.png"
import image2 from "@/assets/image2.png"
import image3 from "@/assets/image3.png"
import image4 from "@/assets/image4.png"
import image5 from "@/assets/image5.png"
import image6 from "@/assets/image6.png"
import image7 from "@/assets/image7.png"

const images = {
  7: image1,
  6: image2,
  5: image3,
  4: image4,
  3: image5,
  2: image6,
  1: image7
}

const words =  [
    "javascript",
    "caffe",
    "symfony",
    "pizza",
    "chat"
]

const alphabet = "abcdefghijklmnopqrstuvwxyz";
const foundLetters = ref([]);
const word = ref("");
const lives = ref(7);

const hiddenWord = computed(() => {
  return word.value
    .split("")
    .map((letter) => {
      if (foundLetters.value.includes(letter)) {
        return letter;
      } else {
        return "_";
      }
    }) // function(letter){return "_"}
    .join(" ");
});

function tryLetter(myletter) {
  foundLetters.value.push(myletter);
  if (!word.value.includes(myletter)) {
    lives.value--;
  }
}

const gameLost = computed(() => {
  return lives.value <= 0;
});

const gameWin = computed(() => {
  return !hiddenWord.value.includes("_");
});


function newGame(){
  word.value = words[Math.floor(Math.random()*words.length)]
  foundLetters.value = []
  lives.value = 7
}


newGame()
</script>

<template>
  <div v-if="gameLost">
    Vous avez perdu
    <img src="@/assets/image8.png" alt="">
    <div>
      le mot était <b>{{ word }}</b>
    </div>
    <button @click="newGame">Recommencer</button>
  </div>

  <div v-else-if="gameWin">
    Vous avez Gagné
    <div>
      le mot était <b>{{ word }}</b>
    </div>
    <button @click="newGame">Recommencer</button>
  </div>

  <div v-else>
    <h2>Vies: {{ lives }}</h2>
    <img :src="images[lives]">
    <h1>{{ hiddenWord }}</h1>
    <button 
    v-for="letter in alphabet"
    :key="letter"
    :disabled="foundLetters.includes(letter)"
    @click="tryLetter(letter)"
      
      >
      {{ letter }}
    </button>
  </div>
</template>

<style scoped>
</style>
